//- footer
//-     p Footer
footer
  .container
    .foot
      .foot-1
        p DREAMSHARE
      .foot-2
        h3 Company
        .d-flex
          p About
          p Contact
          p Press
          p Blogs
        .d-flex
          p Terms and Privacy
          p Help
      .foot-3
        h3 Partners
      .foot-4
        h3 DESIGNED BY
        img(src='../images/areto.png', alt='')