//- header
//-     p Header
header
  .container
    .head
      .head-detail
        h4 DREAMSHARE
        .head-sign
          span Logn in
          span.head-up Sign up
      .head-topic
        h2.head-dream SHARE YOUR HOLIDAY DREAM
        p.head-text And find the perfect partner to fullfill it
        button.head-button Find your holiday partner